@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  @variants responsive {
    .dot-box {
      height: 65vmin;
      width: 65vmin;
    }

    .half-square {
      height: 50vw;
      width: 50vw;
    }

    .full-square {
      height: 90vw;
      width: 90vw;
    }
  }
}
